name: jni

on:
  push:
    branches:
      - master
      - jni-test-2023-01-09
    paths:
      - '.github/workflows/jni.yaml'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'
      - 'sherpa-ncnn/jni/*'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/jni.yaml'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'
      - 'sherpa-ncnn/jni/*'

concurrency:
  group: jni-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  jni:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Display kotlin version
        shell: bash
        run: |
          kotlinc -version

      - name: Display java version
        shell: bash
        run: |
          java -version
          echo "JAVA_HOME is: ${JAVA_HOME}"

      - name:  Run JNI test
        shell: bash
        run: |
          ./github/scripts/test-jni.sh
