name: linux

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/linux.yaml'
      - '.github/scripts/run-test.sh'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'ffmpeg-examples/**'
      - 'sherpa-ncnn/csrc/*'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/linux.yaml'
      - '.github/scripts/run-test.sh'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'ffmpeg-examples/**'
      - 'sherpa-ncnn/csrc/*'
      - 'sherpa-ncnn/csrc/*'

concurrency:
  group: linux-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install ffmpeg
        shell: bash
        run: |
          sudo apt-get install -y libavdevice-dev libavutil-dev ffmpeg
          pkg-config --modversion libavutil
          ffmpeg -version

      - name: Show ffmpeg version
        shell: bash
        run: |
          pkg-config --modversion libavutil
          ffmpeg -version

      - name: Configure CMake
        shell: bash
        run: |
          mkdir build
          cd build
          cmake -D CMAKE_BUILD_TYPE=Release ..

      - name: Build sherpa for ubuntu
        run: |
          cd build
          make -j2

          ls -lh lib
          ls -lh bin

          ls -lh bin/sherpa-ncnn
          file bin/sherpa-ncnn

          ls -lh bin/sherpa-ncnn-microphone
          file bin/sherpa-ncnn-microphone

          ls -lh bin/decode-file-c-api
          file bin/decode-file-c-api

          cd ../ffmpeg-examples
          make

      - name: Upload binary sherpa-ncnn and sherpa-ncnn-microphone
        uses: actions/upload-artifact@v2
        with:
          name: sherpa-ncnn-pre-built-binaries-os-${{ matrix.os }}
          path: ./build/bin

      - name: Test sherpa-ncnn-ffmpeg
        run: |
          export PATH=$PWD/ffmpeg-examples:$PATH
          export EXE=sherpa-ncnn-ffmpeg

          .github/scripts/run-test.sh

      - name: Test sherpa-ncnn
        run: |
          export PATH=$PWD/build/bin:$PATH
          export EXE=sherpa-ncnn

          .github/scripts/run-test.sh

      - name: Test C API
        run: |
          export PATH=$PWD/build/bin:$PATH
          export EXE=decode-file-c-api

          .github/scripts/run-test.sh
