name: linux-macos-windows

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/linux-macos-windows.yaml'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/linux-macos-windows.yaml'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'

concurrency:
  group: linux-macos-windows-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  linux_macos_windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # see https://github.com/microsoft/setup-msbuild
      - name: Add msbuild to PATH
        if: startsWith(matrix.os, 'windows')
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Download pretrained model and test-data
        shell: bash
        run: |
          git lfs install
          git clone https://huggingface.co/csukuangfj/sherpa-ncnn-2022-09-05

      - name: Configure Cmake
        shell: bash
        run: |
          mkdir build
          cd build
          cmake -D CMAKE_BUILD_TYPE=Release ..

      - name: Build sherpa for ubuntu/macos
        if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
        run: |
          cd build
          make -j2

          ls -lh bin/sherpa-ncnn
          file bin/sherpa-ncnn

          ln -s $PWD/../sherpa-ncnn-2022-09-05/bar .
          ln -s $PWD/../sherpa-ncnn-2022-09-05/test_wavs .
          ln -s $PWD/../sherpa-ncnn-2022-09-05/tokens.txt .
          time ./bin/sherpa-ncnn ./test_wavs/1089-134686-0001.wav 4
          time ./bin/sherpa-ncnn ./test_wavs/1221-135766-0001.wav 4
          time ./bin/sherpa-ncnn ./test_wavs/1221-135766-0002.wav 4

      - name: Build sherpa for windows
        if: startsWith(matrix.os, 'windows')
        shell: bash
        run: |
          cd build
          cmake --build . --target sherpa-ncnn -- -m:2

          ln -s $PWD/../sherpa-ncnn-2022-09-05/bar .
          ln -s $PWD/../sherpa-ncnn-2022-09-05/test_wavs .
          ln -s $PWD/../sherpa-ncnn-2022-09-05/tokens.txt .

          ls -lh ./bin/Debug/sherpa-ncnn.exe

          ./bin/Debug/sherpa-ncnn.exe ./test_wavs/1089-134686-0001.wav 2
          ./bin/Debug/sherpa-ncnn.exe ./test_wavs/1221-135766-0001.wav 2
          ./bin/Debug/sherpa-ncnn.exe ./test_wavs/1221-135766-0002.wav 2

