name: macos

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/macos.yaml'
      - '.github/scripts/run-test.sh'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/macos.yaml'
      - '.github/scripts/run-test.sh'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'

concurrency:
  group: macos-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure CMake
        shell: bash
        run: |
          mkdir build
          cd build
          cmake -D CMAKE_BUILD_TYPE=Release ..

      - name: Build sherpa for macos
        run: |
          cd build
          make -j2

          ls -lh lib
          ls -lh bin

          ls -lh bin/sherpa-ncnn
          file bin/sherpa-ncnn

          ls -lh bin/sherpa-ncnn-microphone
          file bin/sherpa-ncnn-microphone

      - name: Upload binary sherpa-ncnn and sherpa-ncnn-microphone
        uses: actions/upload-artifact@v2
        with:
          name: sherpa-ncnn-pre-built-binaries-os-${{ matrix.os }}
          path: ./build/bin

      - name: Run tests for macos
        run: |
          export PATH=$PWD/build/bin:$PATH
          export EXE=sherpa-ncnn

          .github/scripts/run-test.sh
