name: Publish to PyPI

on:
  push:
    branches:
      - wheel
      - build-wheels-2022-12-30
    tags:
      - '*'

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install Python dependencies
        shell: bash
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install wheel twine setuptools

      - name: Build
        shell: bash
        run: |
          python3 setup.py sdist
          ls -l dist/*

      - name: Publish wheels to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload dist/sherpa-ncnn-*.tar.gz
