name: windows-x64

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/windows-x64.yaml'
      - '.github/scripts/run-test.sh'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/windows-x64.yaml'
      - '.github/scripts/run-test.sh'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'

concurrency:
  group: windows-x64-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  windows_x64:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.vs-version }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - vs-version: vs2015
            toolset-version: v140
            os: windows-2019

          - vs-version: vs2017
            toolset-version: v141
            os: windows-2019

          - vs-version: vs2019
            toolset-version: v142
            os: windows-2022

          - vs-version: vs2022
            toolset-version: v143
            os: windows-2022

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure CMake
        shell: bash
        run: |
          mkdir build
          cd build
          cmake -T ${{ matrix.toolset-version}},host=x64 -D CMAKE_BUILD_TYPE=Release ..

      - name: Build sherpa for ubuntu/macos
        if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
        run: |
          cd build
          make -j2

          ls -lh lib
          ls -lh bin

          ls -lh bin/sherpa-ncnn
          file bin/sherpa-ncnn

          ls -lh bin/sherpa-ncnn-microphone
          file bin/sherpa-ncnn-microphone


      - name: Build sherpa for windows
        shell: bash
        run: |
          cd build
          cmake --build . --config Release -- -m:2

          ls -lh ./bin/Release/sherpa-ncnn.exe
          ls -lh ./bin/Release/sherpa-ncnn-microphone.exe

          dumpbin ./bin/Release/sherpa-ncnn.exe
          dumpbin ./bin/Release/sherpa-ncnn-microphone.exe

      - name: Run tests for windows
        shell: bash
        run: |
          export PATH=$PWD/build/bin/Release:$PATH
          export EXE=sherpa-ncnn.exe

          .github/scripts/run-test.sh
