name: windows-x64

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/windows-x64.yaml'
      - '.github/scripts/run-test.sh'
      - '.github/scripts/test-vad.sh'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/windows-x64.yaml'
      - '.github/scripts/run-test.sh'
      - '.github/scripts/test-vad.sh'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'sherpa-ncnn/csrc/*'

  workflow_dispatch:

concurrency:
  group: windows-x64-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  windows_x64:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.vs-version }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - vs-version: vs2015
            toolset-version: v140
            os: windows-2019

          - vs-version: vs2017
            toolset-version: v141
            os: windows-2019

          - vs-version: vs2019
            toolset-version: v142
            os: windows-2022

          - vs-version: vs2022
            toolset-version: v143
            os: windows-2022

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure CMake
        shell: bash
        run: |
          mkdir build
          cd build
          cmake -T ${{ matrix.toolset-version}},host=x64 -A x64 -D CMAKE_BUILD_TYPE=Release ..

      - name: Build sherpa-ncnn for windows
        shell: bash
        run: |
          cd build
          cmake --build . --config Release -- -m:2

          ls -lh ./bin/Release/sherpa-ncnn.exe
          ls -lh ./bin/Release/sherpa-ncnn-vad.exe
          ls -lh ./bin/Release/decode-file-c-api.exe
          ls -lh ./bin/Release/sherpa-ncnn-microphone.exe

      - name: Test VAD
        shell: bash
        run: |
          export PATH=$PWD/build/bin/Release:$PATH
          export EXE=sherpa-ncnn-vad.exe

          .github/scripts/test-vad.sh

      - name: Test sherpa-ncnn
        shell: bash
        run: |
          export PATH=$PWD/build/bin/Release:$PATH
          export EXE=sherpa-ncnn.exe

          .github/scripts/run-test.sh

      - name: Test C API
        shell: bash
        run: |
          export PATH=$PWD/build/bin/Release:$PATH
          export EXE=decode-file-c-api.exe

          .github/scripts/run-test.sh
